[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0"
djangos3browser = {file = "dist/djangos3browser-0.3.tar.gz"}

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.17"
